.container-form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;

	@media (max-width:320px){
        width: 93%;
   }

	.logo-container-form {
		margin-bottom: 35px;
	}
	.text-form {
		font-size: 15px;
		.text-link {
			color: #1673ad;
			display: flex;
			justify-content: center;
			text-decoration: none;
			font-size: 15px;
			transition: all 0.3s;
			text-decoration: underline #1673ad;
		}
		.text-link:hover {
			color: #1673ad;
			cursor: pointer;
		}
	}
}

.container-btn {
	display: flex;
	justify-content: flex-end;
	margin-top: auto;
	margin-right: 30px;
	margin-bottom: 30px;

	@media (max-width:320px){
        margin-top: 15px;
   }

   @media (min-width:1000px){
	width: 72%;
}
}
