@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');

button{
    width: 140px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    background:#008080;
    color: #FBFBFB;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    cursor: pointer;

    &:disabled{
        background: #808080;

        &:hover{
            background: #808080;
        }
    }

    &:enabled{
        background:#008080;

        &:hover{
            //Mudar depois TEMP.
            background:#006b6b; 
        }
    }
    
    &:focus{
        outline: none;
    }
    
    img{
        width: 12.99px;
        height: 12.65px;
        position: relative;
        top: 1px;
        right: -23px;
    }
}