@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');

%buttonStyle{
    width: 140px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    color: #FBFBFB;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    cursor: pointer;
    box-shadow: -1px 6px 10px rgba(0, 0, 0, 0.15);

    &:disabled{
        background: #808080;

        &:hover{
            background: #808080;
        }
    }

    &:focus{
        outline: none;
    } 

    .button-Dad{
        display: flex;
        align-items: center;
        justify-content: space-around; 
    }
}

.green{
    @extend %buttonStyle;

    &:enabled{
        background:#008080;

        &:hover{
            background:#00CCCC; 
        }
    }
}

.white{
    @extend %buttonStyle;

    &:enabled{
        background:#FBFBFB;
        border: 1.5px solid #800080;
        color: #800080;

        img{
            display: none;
        }

        &:hover{
            border: 1.5px solid #CB6FCB;
            background:#FBFBFB; 
            color: #9B3A9B;
        }
    }
}

.purple{
    @extend %buttonStyle;

    &:enabled{
        background: #800080;    

        &:hover{
            background: #CB6FCB;
        }
    }
}


