.textarea-field {
    .label {
      font-family: Jost;
      color: #008080;
      font-weight: 500;
      letter-spacing: 0.02em;
      font-size: 12px;
      margin-left: 10px;
  
      .asterisk {
        color: #cb6fcb;
        display: inline;
        float: right;
      }
    }
    .textarea {
      border: 1px solid #008080;
      border-radius: 10px;
      margin-top: 8px;
      padding-left: 10px;
      display: block;
      height: 200px;
      width: 300px;
      resize: none;
  
      &::placeholder {
        color: #e0e0e0;
        letter-spacing: 0.02em;
        font-size: 14px;
      }
  
      &:focus {
        outline: none;
        border: 1px solid #cb6fcb;
      }
    }
  }
  