@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

%headerStyle{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 44px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    font-style: normal;
    box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.05);

    img{
        cursor: pointer;
    }
}

.headerWhite{
    @extend %headerStyle;
    color: #800080;
}

.headerGreen{
    @extend %headerStyle;
    justify-content: space-around;
    color: #FBFBFB;
    background: linear-gradient(90.79deg, #008080 0%, #800080 100%);

    img{
        &:first-child{
           opacity: 0;
           cursor:default;
        }
    }
}

.headerDonor{
    @extend %headerStyle;
    color: #800080;

    img{
        &:last-child{
            opacity: 0;
            cursor:default;
        }
    }
}
