.textdescription{
    margin: 16px 0 10px 16px;

    span{
        font-family: Poppins;
        font-size: 16px;
    }
    .whiteOrange{
        border-color: #00CCCC;
        height: 40px;
    }
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 96px;
    height: auto;

    .whiteOrange{
    height: 40px;
    width: 186px;
    }

    .whiteOrange:enabled{
        border-color: #00CCCC;
        }

        .whiteOrange .text-button {
            color: #00CCCC;
        }
}
