

.container-pet{
  height: 88px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 95px;
}

.register-pet {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  // padding: 90px 30px 0;

  .location-pet {
    color: #828282;
    font-size: 18px;
    font-weight: 500;
  }
}

.plus-button {
  display: flex;
  justify-content: center;
}
