.radioContainer {
    display: inline-block;
    position: relative;
    font-family: Jost;
    font-weight: 400;
    font-size: 14px;
    user-select: none;
    padding-left: 30px;
    padding-bottom: 23px;
    cursor: pointer;
    color: #4F4F4F;
}

.radioContainer input {
    display: none;
}

.radioContainer .circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2.5px solid #4F4F4F;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.radioContainer input:checked + .circle{
    border: 2.5px solid #CB6FCB;
}

.radioContainer input:checked + .circle:after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #CB6FCB;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}




  
