.radioContainer {
    display: flex;
    align-items: center;
    max-width: 200px;
    position: relative;
    font-size: 14px;
    user-select: none;
    padding-bottom: 23px;
    cursor: pointer;
    color: #4F4F4F;

}

.radioContainer input {
    display: none;
}

.radioContainer .circle {
    display: flex;
    width: 20px;
    height: 20px;
    border: 2.5px solid #4F4F4F;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
}

.radioContainer input:checked + .circle{
    border: 2.5px solid #CB6FCB;
}

.radioContainer input:checked + .circle:after{
    content: "";
    width: 7px;
    height: 7px;
    background-color: #CB6FCB;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-49%, -47%);
    animation: buttonAnnimation 0.3s ease-in;
}


@keyframes buttonAnnimation {
    0% {opacity: 0%;}
    50% {opacity: 30%;}
    100% {opacity: 100%;}
}



  
