.head {
  background: linear-gradient(91.99deg, #008080 45.19%, #800080 110.51%);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  position: relative;

  width: 100%;
  height: 83px;
  align-items: center;
}
