.container-main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container-filter {
	display: flex;
	justify-content: center;
	height: 45px;
	border-bottom: 0.5px solid rgba(128, 128, 128, 0.349);
	.content-filter {
		display: flex;
		align-items: center;
	}
}
@media (max-width: 920px) {
	.container-header {
		display: flex !important;
		justify-content: space-between !important;
		.content-header-feed {
			width: 80% !important;
		}
	}
}
@media (max-width: 320px) {
	.container-header {
		width: 106% !important;
	}
	.container-filter {
		width: 106% !important;
	}
}
