.container-header {
  display: flex;
  justify-content: center;
  .image-icon:hover {
    cursor: pointer;
  }
}
.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-filter {
  display: flex;
  justify-content: center;
  height: 45px;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.349);
  .content-filter {
    display: flex;
    align-items: center;
    .buttonCao,
    .buttonGato {
      width: 50px;
      height: 28px;
      background: #fff;
      border: 0.5px solid #008080;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
    .buttonCao {
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px;
      background: url("../../assets/images/iconcao.svg") no-repeat center;

      &:focus {
        background: #008080 url("../../assets/images/iconcaoclick.svg")
          no-repeat center;
      }
    }

    .buttonGato {
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;
      background: url("../../assets/images/icongato.svg") no-repeat center;

      &:focus {
        background: #008080 url("../../assets/images/icongatoclick.svg")
          no-repeat center;
      }
    }
  }
}
@media (max-width: 620px) {
  .container-header {
    display: flex !important;
    justify-content: space-between !important;
    .content-header-feed {
      width: 93% !important;
    }
  }
}
@media (max-width: 320px) {
  .container-header {
    width: 106% !important;
  }
  .container-filter {
    width: 106% !important;
  }
}
