.container-main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container-filter {
	display: flex;
	justify-content: center;
	height: 45px;
	border-bottom: 1px solid rgba(161, 145, 145, 0.466);
	.content-filter {
		display: flex;
		align-items: center;
	}
}
@media (max-width: 920px) {
	.container-header {
		display: flex !important;
		justify-content: space-between !important;
		.content-header-feed {
			width: 80% !important;
		}
	}
}
