.label-profilepet{
    color:#CB6FCB;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 3px;
}

.description-profilepet{
    color:#333333;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px
}