body{
    @media (max-width:320px){
        width: 116% !important;
    }
}

h1{
  padding-right: 31px !important;
}

header{
    min-height: 44px;
}

  .dogData{
    max-width: 375px;
    // margin-top: 24px;
    margin: 24px auto auto auto;
    display: flex;
    flex-wrap: wrap;

    .dogCerto{
        flex: 1 1 100px;
        margin: 10px 10px 0px 20px;

        &:nth-of-type(5){
            flex: 1 1 300px;
        }

        &:nth-of-type(6){
            flex: 1 1 300px;
        }
        &:nth-of-type(7){
            flex: 1 1 300px;
        }
    }
}

.plus-button {
    display: flex;
    justify-content: center;
    margin: 78px auto 44px 281px;

    button{
        cursor: pointer;
    }
  }