.contact-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 36px;
}

.title-form {
	margin-top: 23px;
	text-align: center;
}

.button-skip {
	display: flex;
	justify-content: flex-end;
	margin: auto 30px 30px 0;
}
