* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background: linear-gradient(91.99deg, #008080 45.19%, #800080 110.51%);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
  padding-left: 15px;
  display: flex;
  position: relative;

  width: 100%;
  height: 83px;
  align-items: center;
}

.arrow {
  margin-left: 3.68px;
  margin-right: 30.67px;
  cursor: pointer;
}
