.container-card {
	display: flex;
	width: 360px;
	height: 136px;
	border-radius: 15px;
	border: 1px solid #c0c0c0;
	margin: 24px 8px;

	@media (max-width:320px){
		width: 340px;
		margin-right: -11px;
	}
	.container-img {
		margin-top: -1px;

		img{
			width: 192px;
			height: 136px;
			border-top-left-radius: 16px;
			border-bottom-left-radius: 16px;

			@media (max-width:320px){
				width: 192px;
			}
		}
	}
	.content-card {
		min-width: 72px;
		height: 80%;
		margin-left: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
    
		.age-pet {
			display: inline;
			width: max-content;
		}
	}
	.container-genre {
		height: 75%;
		width: 95px;
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}
	.content-image {
		height: 38px;
	}

	.container-location {
		position: absolute;
		transform: translate(199px, 110px);
	}
}
