.container-card {
	display: flex;
	width: 360px;
	height: 136px;
	border-radius: 15px;
	border: 1px solid;
	background-color: rgb(179, 66, 66);
	.container-img img {
		width: 180px;
		height: 137px;
	}
}
