* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header {
    width: 375px;
    height: 83px;
    background: linear-gradient(91.99deg, #008080 45.19%, #800080 110.51%);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
}

.textheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.title-form {
    margin-top: 23px;
    text-align: center;
}

.form {
    display: flex;
    margin-top: 44px;
    flex-direction: column;
}

.textform{
    margin-left: 8px;
}

.form-box {
    margin-top: 8px;
    border: 1px solid #008080;
    border-radius: 10px;
    width: 300px;
    height: 103px;
    display: flex;
    flex-direction: column;
    padding: 16px 18px;
}

.contentform{
    display: flex;
    justify-content: center;
}


.button-skip{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 463px;
    margin-right: 30px;
}
