@mixin flex-box($direction: row, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.modal-container {
  @include flex-box(row, center, center);

  font-family: Jost;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(26, 36, 46, 0.6);

  .modal {
    @include flex-box(column, flex-start, center);

    width: 300px;
    min-height: 350px;
    background-color: #fff;
    box-shadow: 0px 3px 15px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    .close-button-modal {
      @include flex-box(row, center, center);

      margin-top: 16px;
      margin-bottom: 4px;
      margin-right: 16px;
      align-self: flex-end;
      width: 25px;
      height: 25px;
      cursor: pointer;

      .close-button {
        color: #4f4f4f;
        text-align: center;
      }
    }

    span {
      font-weight: 500;
    }

    .buttonStyle {
      height: 40px;
      width: 150px;
      border-radius: 10px;
    }
  }

  .title {
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 12px;
  }

  .text {
    font-size: 13px;
    color: black;
    line-height: 21px;
    text-align: center;
    font-family: Poppins;
  }

  button {
    margin-top: 28px;
    margin-bottom: 21px;
  }
}
