html, body, .App, #root{
    height: 100%;
    width: 100%;
}

.App{
    display: flex;
    flex-direction: column;
}

// @media (max-height: 830px) {
//     .App{
//         height: 110%;
//     }
// }